@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    text-decoration: none;
}

body {
    font-family: 'Roboto', 'Dancing Script';
    background-image:  url("img/negrofondo.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* MENU */

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.navbar {
    position: absolute;
    display: flex;
}

.menu-1 {
    margin-right: 200px;
    margin-top: 40px;
}

.logo-1 {
    width: 95px;
    margin-top: -25px;
    margin-left: 1px;
}
.menu .navbar ul li {
    position: relative;
    float: left;
    list-style-type: none;
    display: flex;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 30px;
    margin-top: -60px;
    color:white;
    display: block;
}

.menu .navbar ul li a:hover {
    color:#E6C573;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

/* MENU SOCIALS */

.socials {
  display: flex;
  justify-content: right;
  flex-direction: row;
  margin-top: 1%;
  position: relative;
  margin-left: 67%;
  cursor: pointer;
  width: 30%;
}

.social img{
  width: 20px;
  margin: 15px;
}

/* LOGO PRESENTACION */

.logo-presentacion img {
  flex-direction: row;
  justify-content: left;
  display: block;
  width: 300px;
  position: relative;
  margin-left: 100px;
    margin-top: 5%;
    font-family: 'Roboto';
}

/* DIVIDER */

.divider-1 {
  background-color: #E6C573;
  width: 40%;
  height: 2px;
  margin-top: 50px;
  margin-left: 50%;
  display: block;
  justify-content: left;
  flex-direction: row;
  position: relative;
  margin-bottom: 5%;
}

/* CONTACTO PORTFOLIO */

.titulo-portfolio {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.titulo-portfolio h1 {
  width: 20%;
  color: white;
  margin-top: 5%;
  justify-content: left;
  margin-bottom: 30%;
}

.titulo-portfolio p {
  color: white;
  font-size: 18px;
  width: 500px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  margin-right: 21%;
}

.boton-proyecto {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  border: 2px solid #E6C573; 
  width: 240px;
  padding: 10px;
  text-align: center;
  margin-left: 40%;
  margin-top: -10%;
  margin-bottom: 5%;
  box-shadow: 1px 1px 10px rgba(255, 249, 196);
}

.boton-nuevoproyecto {
    color: white;
}

/* CONTENEDOR */

.contenedor {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 280px;
  display: inline-block;
  margin: 17px;
  justify-content: space-around;
  margin-top: 100px;
}

.imagen {
  margin-left: 14%;
  width: 100%;
  height: auto;
}

.nombre, .enlace {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); /* opacidad inicial */
  color: white;
  padding: 10px;
  margin-left: 14%;
  width: 100%;
  height: 280px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.btn-codigo {
  margin-left: 43%;
  margin-top: 17%;
  background-color: transparent;
  border-color: #E6C573;
  color: white;
  padding: 3%;
  box-shadow: 1px 1px 10px rgba(255, 249, 196);
  cursor: pointer;
}
.nombre p {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.enlace {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

.enlace p {
  margin-top: 120px;
  text-align: center;
  color: white;
  font-family: 'Dancing sprit';
  font-size: 35px;
}

.contenedor:hover .nombre {
  display: none;/* Ocultar el nombre al pasar el cursor */
}

.contenedor:hover .enlace {
  background-color: rgba(0, 0, 0, 0.1);
  color: white; /* opacidad al pasar el cursor */
}

.enlace {
  display: none; /* Inicialmente oculto */
}

.contenedor:hover .enlace {
  display: block;
  color:white; /* Mostrar al pasar el cursor */
}

/* DIVIDER */

.divider-2 {
  background-color: #E6C573;
  width: 40%;
  height: 2px;
  margin-top: 150px;
  margin-left: 50%;
  display: block;
  justify-content: left;
  flex-direction: row;
  position: relative;
  margin-bottom: 15%;
}

/* CONTACTANOS */

.contactanos {
  border: 2px solid #E6C573;
  align-items: center;
  width: 65%;
  height: 330px;
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
  margin-left: 17%;
  justify-content: center;
  margin-bottom: 200px;
  box-shadow: 1px 1px 10px rgba(255, 249, 196);
  }

  .contacto-proyecto h1 {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    flex-direction: row;
    font-size: 35px;
    align-items: center;
    margin-left: 30%px;
    width: 100%;
  }

  .boton-project {
    justify-content: center;
    display: flex;
    text-align: center;
    border: 2px solid #E6C573; 
    width: 130px;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
    margin-left: 33%;
  }

  .loguito {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 17%;
    margin-left: 40%;
  }

  .btn-proyecto { 
    color: white;
  }



  .servicios-packs {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
    position: relative;
    margin-bottom: 100px;
    width: 80%;
    margin-left: 6.5%;
    text-align: center;
  }

  .servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  .servicios h1 {
    color:white;
    font-family: 'Roboto';
    margin-left: 15%;
  }

  .servicios ul li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: block;
    line-height: 30px;
  }

  .servicios ul li a {
    color: white;
  }

  .servicios ul li a:hover {
    color:#E6C573;
  }

  .servicios ul li {
    color: white;
  }

    /* DIVIDER */

    .divider-4 {
      background-color: #E6C573;
      width: 125%;
      height: 2px;
      margin-left: 18%;
      display: block;
      justify-content: left;
      flex-direction: row;
      position: relative;
      margin-bottom: 5%;
    }

  /* SERVICIOS CONTACTO */

  .contacto {
    margin-top: -40%;
  }

  /* DIVIDER */


  .divider-5 {
    background-color: #E6C573;
    width: 85%;
    height: 2px;
    margin-left: 16%;
    display: block;
    justify-content: left;
    flex-direction: row;
    position: relative;
    margin-bottom: 5%;
  }

  /* FOOTER */

  footer {
    background-color: black;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 500px;


}

.cont-footer {
    text-align: center;
    justify-content: center;
    position: absolute;
}

.cont-footer p {
    color: white;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    margin-top: -100px;
}

.cont-footer img {
    width: 60%;
}

/* SOCIAL FOOTER */

.socials-footer {
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    margin-top: 20%;
    width: 100%;
}
.socials-footer img {
    line-height: center;
    justify-content: center;
    width: 20px;
    margin: 10px;
}

/* BOTON WHATSAPP */

.float-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    margin: 35px;
}

.float-btn:hover {
    background-color: #21ac5d;
    transform: scale(1.1);
}

.float-btn img {
    margin-top: 4px;
    width: 70px;
    height: 35px;
}


/* R E S P O N S I V E */

/* TABLET */

@media (max-width: 991px) {

  /* MENU */

  .menu {
      padding: 20px;
      justify-content: space-between;
  }

  .menu label {
      display: initial;
  }

  .menu .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #201F1F;
      color:#E6C573;
      display: none;
  }

  .menu .navbar ul li {
      width: 100%;
      line-height: 45px;
  }

  .menu .navbar ul li a {
      color: white;
  }

  .menu .navbar ul li a:hover {
      color:#E6C573;
  }

  .menu-icono {
    display: block;
    position: relative;
    justify-content: center;
    display: flex;
    width: 40px;
    margin-top: -6px;
    margin-left: 20px;
  }

  #menu:checked ~ .navbar {
      display: initial;
  }

  /* MENU SOCIALS */

  .socials {
    position: relative;
    display: flex;
    margin-top: 30px;
}

.social img {
  width: 20px;
}

/* LOGO PRESENTACION */

.logo-presentacion img {
    width: 40%;
    align-items: center;
    margin-left: 40px;
    margin-top: 180px;
    margin-bottom: 100px;
    display: inline-block;
    position: relative;
}

/* DIVIDER */

.divider-1 {
  margin-left: 120px;
}

/* CONTACTO PORTFOLIO */

.titulo-portfolio h1 {
  margin-left: 10%;
  margin-bottom: 45%;
}

.boton-proyecto {
  align-items: center;
  margin-left: 37%;
  margin-bottom: 20%;
}

/* PROYECTOS */

.contenedor {
  margin: 10px;
  margin-left: 6%;
  margin-bottom: 15%;
}

/* DIVIDER */

.divider-2 {
  margin-bottom: 20%;
}

/* CONTACTO PROYECTO */

.contacto-proyecto h1 {
  font-size: 27px;
}

/* SERVICIOS*/

.servicios-packs {
  margin-left: 5%;
}

/* BOTON WHATSAPP */

.float-btn {
  width: 65px;
  height: 65px;
}

}

/* MOVIL GRANDE*/

@media (max-width: 600px) {

  /* MENU */

  .menu-icono {
    width: 30px;
    margin-top: 3px;
  }

  /* MENU FOOTER */

  .socials {
    position: absolute;
    display: flex;
    margin-left: 63%;
}

.social {
    width: 35px;
}

.social img {
    width: 15px;
}

/* LOGO PRESENTACION */

.logo-presentacion img {
  width: 60%;
}

/* DIVIDER */

.divider-1 {
  margin-left: 50%;
  margin-bottom: 20%;
}

/* CONTACTO PORTFOLIO */

.titulo-portfolio h1 {
  font-size: 30px;
  margin-bottom: 85%;
}

.titulo-portfolio p {
  font-size: 15px;
  margin-right: 130px;
  text-align: center;
  align-items: center;
}

.boton-proyecto {
  width: 150px;
  font-size: 15px;
  padding: 5px;
  margin-left: 31%;
  margin-top: -20%;
  margin-bottom: 30%;
}

/* PROYECTOS */

.contenedor {
  margin: 5px;
  margin-left: 11.5%;
}

/* DIVIDER */

.divider-2 {
  margin-bottom: 30%;
}

/* CONTACTO PROYECTO */

.contacto-proyecto h1 {
  font-size: 20px;
}

.loguito {
  margin-left: 117px;
}

.boton-project {
  margin-left: 100px;
  font-size: 15px;
  width: 60px;
}


/* SERVICIOS */

.servicios {
  margin-right: 37px;
}

/* SERVICIOS CONTACTO */

.servicios .contacto {
  margin-top: 20px;
  margin-bottom: 50%;
}

.servicios h1 {
  font-size: 23px;
}

.servicios ul li {
  font-size: 15px;
}

/* FOOTER */

.cont-footer img {
  margin-bottom: 40px;
}

.cont-footer p {
  font-size: 10px;
  width: 60%;
  margin-left: 20%;
}

/* SOCIAL FOOTER */

.socials-footer img {
  margin-top: 10px;
}

/* BOTON WHATSAPP */

.float-btn {
  width: 10%;
  height: 7%;
}


.float-btn img {
  width: 90%;
  height: auto;
  margin-left: 7%;
}

}

/* MOVIL PEQUEÑO */

@media (max-width: 400px) {

  /* MENU */

  .menu-icono {
    width: 30px;
    margin-top: 7px;
  }

  .menu .navbar ul li {
    width: 100%;
    line-height: 85px;
}

  /* MENU SOCIALS */

.socials {
    position: absolute;
    display: flex;
    margin-left: 63%;
}

.social {
    width: 35px;
}

.social img {
    width: 15px;
}

/* LOGO PRESENTCION */

.logo-presentacion img {
  width: 85%;
  margin-left: 8%;
}

/* DIVIDER */

.divider-1 {
  margin-left: 50%;
  margin-bottom: 20%;
}

/* COTNACTO PORTFOLIO */

.titulo-portfolio h1 {
  font-size: 30px;
  margin-bottom: 85%;
}

.titulo-portfolio p {
  font-size: 15px;
  margin-right: 105px;
  text-align: center;
  align-items: center;
}

.boton-proyecto {
  width: 120px;
  font-size: 15px;
  padding: 5px;
  margin-left: 33%;
  margin-top: -20%;
  margin-bottom: 30%;
}

/* PROYECTOS */

.contenedor {
  margin: 5%;
  margin-left: 3.5%;
}

.contenedor p {
  margin-top: 5%;
}

/* CONTACTO PROYECTO */

.contacto-proyecto h1 {
  font-size: 17px;
}

.loguito {
  margin-left: 41%;
}

.boton-project {
  margin-left: 80px;
  font-size: 15px;
  width: 60px;
}

.contenedor p {
  font-size: 20px;
}

/* SERVICIOS */

.servicios {
  margin-right: 50px;
}

.servicios .contacto {
  margin-top: 20px;
  margin-bottom: 50%;
}

.servicios h1 {
  font-size: 23px;
}

.servicios ul li {
  font-size: 15px;
}

/* FOOTER */

.cont-footer p {
  font-size: 10px;
  width: 60%;
  margin-left: 20%;
}

/* BOTON WHATSAPP */

.float-btn {
  width: 10%;
  height: 6%;
}

.float-btn img {
  width: 90%;
  height: auto;
  margin-left: 7%;
}

}

